<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include "stylesheets.html.j2" %}

    <title>Lo-Fi Europe</title>

</head>
<body class="text-center">
<!-- Main container of a scene -->
<div class="cover-container d-flex align-items-center w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link active" href="#">About</a>
                <a class="nav-link" target="_blank" href="https://github.com/iamjackg/lofieurope">Contribute on GitHub</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover w-75">
        <h1 class="cover-heading">lo-fi europe</h1>
        <p class="lead">
            This website collects images drawn by the users of <a href="https://reddit.com/r/europe">r/europe</a> on Reddit.
        </p>
        <p class="lead">
            Inspired by the "lo-fi girl" from <a href="https://www.youtube.com/watch?v=5qap5aO4i9A">lofi hip hop radio -
            beats to relax/study to</a>, the subreddit started a challenge for each country to make their own version of the drawing.
        </p>
        <p class="lead">
            Each image ended up containing really cool tidbits and references to local pop culture,
            so I thought I'd start a crowdsourced effort to annotate all the images.
            It seemed like a really fun way to learn about other European countries.
        </p>
        <a href="https://twitter.com/jackgaino">@jackgaino</a>
    </main>

    {% include "footer.html.j2" %}
    {% include "js-dependencies.html.j2" %}

    <script>
        // Plugin activation
        $(document).ready(function () {
            $.getJSON("api/map/countries", function (data) {
                $("#main-map").interactiveImage(data, {
                    shareBox: false,
                    debug: true
                });
            });
        });
    </script>
</div>
</body>
</html>
