<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>
            Cover template for
            <a target="_blank" href="https://getbootstrap.com/">
                Bootstrap
            </a>, by
            <a target="_blank" href="https://twitter.com/mdo">
                @mdo
            </a>. — Site by
            <a target="_blank" href="https://twitter.com/jackgaino">
                @jackgaino
            </a>
        </p>
    </div>
</footer>
